Exc 10/fake_test.csv
Exc 10/fake_train.csv
Exc 11/arxiv_test.csv
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Natural-Language-Processing/FileContentIndex/79ef7b78-a195-4a96-a235-dc28bc5cfd2f.vsidx
.vs/Natural-Language-Processing/v17/.wsuo
